<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASP.NET MVC - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/painel.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/treinamento.js" asp-append-version="true"></script>
</head>
<body>
    <header class="menu-funcionalidade">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @Html.ActionLink("Treinamento", "Index", "Home", null, new { @class = "navbar-brand text-light" })

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="btn-group">
                    <button type="button" class="btn btn-secondary bg-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        @Html.ActionLink("Departamento", "Index", "Departamento", null, new { @class = "dropdown-item text-dark" })

                        @Html.ActionLink("Funcionário", "Index", "Funcionario", null, new { @class = "dropdown-item text-dark" })

                        @Html.ActionLink("Pessoa", "Index", "Pessoa", null, new { @class = "dropdown-item text-dark" })
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ASP.NET MVC
        </div>
    </footer>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
