@{
    // renomear a view para Contato.cshtml
    // adicionar as tags
    @*@model ContatoModel

        <div class="row">
            <div class="col-3 text-right">
                @Html.LabelFor(x => x.Telefone)
            </div>
            <div class="col">
                @Html.TextBoxFor(x => x.Telefone)
            </div>
        </div>

        <div class="row">
            <div class="col-3 text-right">
                @Html.LabelFor(x => x.Celular)
            </div>
            <div class="col">
                @Html.TextBoxFor(x => x.Celular)
            </div>
        </div>

        <div class="row">
            <div class="col-3 text-right">
                @Html.LabelFor(x => x.Email)
            </div>
            <div class="col">
                @Html.TextBoxFor(x => x.Email)
            </div>
        </div>*@
}